h3{
    display: inline-flex;
    color: white;
    background-color: #4a7cde;
    font-weight: bold;
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 400px;
    padding-left: 20px;
}
.main{
    display: block;
    margin-top: 20px;
    background-color: #4a7cde;
    color: white;
    height: 30px;
    width:80px;
    border-style: dotted;
    border-color: white;
}

.secondry{
    height: 30px;
    width: 199px;
}


p{
    font-size: 35px;
    font-family: "Roboto Condensed", sans-serif;
    color: #4a7cde;
}