<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Mun Assistant</title>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
  <div class= "Title"><h1>Mun Assistant</h1></div>
  <div class = "Selection Box">
    <div class = "Button-1">
      <a href ="/Country_info">
      <button type="button" >Basic country Points</button>
        </a>
    </div>
     <div class="Button-2">
     <button type="button">News!!!!</button>
    </div>
    <div class="Button-3">
    <button type="button">Un voting data</button>
  </div>

  </div>

  </body>
</html>
